/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #efefef; /* Define your custom background color */
}

body {
  background: linear-gradient(
    to bottom,
    var(--bg-gradient-start),
    var(--bg-gradient-end)
  );
}

.fix-height {
  min-height: calc(100vh - 150px); /* Ensure minimum height calculation */
}

.overflow-height {
  height: calc(100vh - 150px); /* Adjust height calculation as needed */
}

button:disabled {
  cursor: not-allowed; /* Define cursor behavior for disabled buttons */
}
